---

---

<article>
    <h2>Sobre mi</h2>
    <div>
        <p>
            Soy un desarrollador autodidacta de Venezuela, apasionado por la programación y la tecnología. He explorado y dominado tecnologías como HTML, CSS, JavaScript, TypeScript, Express.js y Astro.
        </p>
    
        <p>
            Cada proyecto en mi portfolio es una muestra de mis habilidades técnicas y mi compromiso con el aprendizaje continuo. Mi objetivo es contribuir al desarrollo de software y colaborar en proyectos innovadores.
        </p>
        <p>
            Gracias por visitar mi portfolio. ¡Espero que disfrutes explorando mis proyectos tanto como yo disfruté creándolos!
        </p>
    </div>
</article>

<style>
    article {
        display: grid;
        grid-area: about;

        gap: 1rem;
    }
</style>