---

---

<article>
    <h2>Sobre mi</h2>
    
    <p>
        Estudiante autodidacta, apasionado por la programación y la tecnología. He explorado tecnologías como HTML, CSS, JavaScript, TypeScript, Express.js y Astro. Gracias por visitar mi portfolio.
    </p>

</article>

<style>
    article {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

    }
</style>