---
import FacebookIcon from "../../public/icons/facebook.astro";
import GithubIcon from "../../public/icons/github.astro";
import LinkedinIcon from "../../public/icons/linkedin.astro";
import TwitterIcon from "../../public/icons/twitter.astro";
---

<div class="contact">
    <a
        href="https://josuendev.netlify.app/"
        aria-label="Enlace a mi pagina en Facebook"
        target="_blank"
        rel="noopener noreferrer"
    >
        <FacebookIcon customClass="icon" />
    </a>
    <a
        href="https://josuendev.netlify.app/"
        aria-label="Enlace a mi perfil en Github"
        target="_blank"
        rel="noopener noreferrer"
    >
        <GithubIcon customClass="icon" />
    </a>
    <a
        href="https://josuendev.netlify.app/"
        aria-label="Enlace a mi perfil en Linkedin"
        target="_blank"
        rel="noopener noreferrer"
    >
        <LinkedinIcon customClass="icon" />
    </a>
    <a
        href="https://josuendev.netlify.app/"
        aria-label="Enlace a mi perfil en Twitter"
        target="_blank"
        rel="noopener noreferrer"
    >
        <TwitterIcon customClass="icon" />
    </a>
</div>
