---
import FacebookIcon from "../../public/icons/Facebook.astro";
import GithubIcon from "../../public/icons/Github.astro";
import LinkedinIcon from "../../public/icons/Linkedin.astro";
import TwitterIcon from "../../public/icons/Twitter.astro";
---

<div>
    <a
        href="https://josuendev.netlify.app/"
        aria-label="Enlace a mi pagina en Facebook"
        target="_blank"
        rel="noopener noreferrer"
    >
        <FacebookIcon class="icon"/>
    </a>
    <a
        href="https://josuendev.netlify.app/"
        aria-label="Enlace a mi perfil en Github"
        target="_blank"
        rel="noopener noreferrer"
    >
        <GithubIcon class="icon" />
    </a>
    <a
        href="https://josuendev.netlify.app/"
        aria-label="Enlace a mi perfil en Linkedin"
        target="_blank"
        rel="noopener noreferrer"
    >
        <LinkedinIcon class="icon" />
    </a>
    <a
        href="https://josuendev.netlify.app/"
        aria-label="Enlace a mi perfil en Twitter"
        target="_blank"
        rel="noopener noreferrer"
    >
        <TwitterIcon class="icon" />
    </a>
</div>

<style>
    div {
        display: grid;
        grid-area: contact;

        grid-auto-flow: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;

        .icon {
            width: 1.75rem;
            height: 1.75rem;
            color: #258ce0;
            padding: .25rem;
            border: 1px solid #67a6da33;
            border-radius: .5rem;

            &:hover {
                color: #67a6da96;
                border-color: #258ce0;
            }
        }
    }

    

    
</style>