---

---

<div class="name">
    <h1>Josue Noriega</h1>
    <h2>Frontend Developer</h2>
</div>

<style>
    div {
        display: grid;
        grid-area: name;
        
    }

    h1 {
        color: #b1c8db;
    }
</style>